<h1> Silly Coach </h1>
<h2>
<%= params[:question] %>
<p> - You</p>
</h2>

<h2>
 <%  if params[:question] == 'I am going to work' then %>
      Great!
 <%  elsif params[:question].include?("?") then %>
     Silly question, get dressed and go to work!'
 <%   else %>
    I don't care, get dressed and go to work!"
 <%   end  %>
 <p>-Your Coach</p>
 </h2>

<%= link_to "Ask a new question", ask_path %>
