// Place all the styles related to the answer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

  a {
   color: grey;
   &:hover {
     color: black;
   }
 }
 h2 {
  background-color : rgba(250, 230, 140, 1);
}

